* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
  margin: 20px auto;
}
.grid-container>div{
    padding: 20px;
    text-align: center;
}
.item1 {
  grid-column: 1 / 3;
  background-color: rgb(129, 39, 54);
}
.item2 {
  grid-area: 1 / 3 / 3 / 6;
  background-color: rgb(163, 26, 163);
}
.item3 {
  grid-area: 1 / 6 / 5 /10;
  background-color: rgb(192, 85, 85);
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
.item4 {
  grid-area: 1/ 10 / 2 /11;
  background-color: yellow;
}
.item5 {
  grid-area: 2 / 1 / 3 / 3;
  background-color: rgb(12, 102, 12);
}
.item6 {
  grid-area: 2 / 10 / 3 / 11;
  background-color: rgb(14, 14, 85);
}
.item7{
    grid-area: 3 / 1 / 4 / 3;
    background-color: rgb(58, 58, 5);
}

.item8{
    grid-area: 3 / 3 / 4 / 4;
    background-color: green;
}
.item9{
    grid-area: 3 / 4 / 4 / 6;
    background-color: aqua;
}
.item10{
    grid-area: 3 / 10 / 4 / 11;
    background-color: rgb(151, 151, 207);
}
.item11{
    grid-area: 4 / 1 / 5 / 6;
    background-color: purple;
}
.item12{
    grid-area: 4 / 10 /5 /11;
    background-color: red;
}